body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    margin:10px 5px 5px 5px ;
    background-color:rgb(250, 246, 245) ;
    background-image:url(./images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:600px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    
}
span{
    color:#FD6E0A;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    }

nav>ul{
    display: flex;
    
}

nav li{
    list-style: none;
    margin-right: 50px;
    align-items: center;
    
}
li a{
    text-decoration:none;
    color: black;
}
.btn{
    background-color:#FD6E0A;
    color: white;
    border:2px solid #FD6E0A;
    border-radius: 3px;
    font-size: 20px;
    font-weight:25px;
    padding:10px 10px;

}

h2{
    font-size: 45px;
    font-weight: 800;
    padding-left: 40px;
}
.helf-weight{
    display: flex}
    
    #c{
    height:400px;
    weight:350px;
    padding-left:30px;
   align-items: center;
}

.container-1{
    padding-left: 40px;

}

#a{
    background-color: #FD6E0A;
    background-color:#FD6E0A;
    color: white;
    border:2px solid #FD6E0A;
    border-radius: 3px;
    font-size: 17px;
    font-weight:20px;
    padding:10px 10px;
    margin-right: 100px;
    
}

#b{
    
    background-color:white;
    color: #FD6E0A;
    border:2px solid #FD6E0A;
    border-radius: 3px;
    font-size: 17px;
    font-weight:20px;
    border: 1px solid #FD6E0A;
    padding:10px 10px;
    margin-left: 100px;
}
.helf-weight h3 h1{
    padding-bottom: 15px;
}
p{
    padding-bottom: 20px;
}

.middel-banner{
   margin:50px 150px 150px 150px;
   margin-top: 10px;
   align-items: center;
    
}
.chaild-a{
    

   display: flex;

}
h4 label {
    align-items: center;
}

.about{
    padding: 130px;
    border:1px solid whitesmoke ;
    border-radius: 15px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.section-title{color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
    


.what-i-do-description{
    padding: 30px 150px;
}

.about-info-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.about-info{
    align-items:center;
}
.skill-container{
    display: flex;
    align-items: center;
}
.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 10px;
    background-color:#FFF8F3;
    box-shadow: 0px 6px 50px 0px;
}


.resume-area{
    background-color:white;
    margin-top:50px;
    padding-top:5px;
    padding-bottom: 20px;
    border: 3px solid whitesmoke;
    border-radius:25px;
}
.my-resume-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:10px 10px 10px 10px;
   margin: 15px 5px 10px 5px;
   
}

.my-resume-1{
    background-color:white;
    margin-right: 90px;
    padding-left:15px ;
    padding-right: 70px;
    justify-content:space-around;
}



.my-resume-2{
    background-color:white;
    padding-left: 25px;
    padding-right: 20px;

}

#button{
    background-color:#FD6E0A;
    color: white;
    border:2px solid #FD6E0A;
    border-radius: 3px;
    font-size: 20px;
    font-weight:25px;
    padding:10px 10px;
 margin-left:550px ;

}